<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  {{{ styles }}}
  <title>Home</title>

  {{{ shared_scripts }}}
</head>
<body>
{{{ header }}}

<main>
  {{{ heading }}}
  {{{ nav_panel }}}

  <section class="personal-info">
    <p class="personal-info-content">{{ description }}</p>
  </section>

  {{{ content }}}
</main>

{{{ direct }}}

<input type="hidden" data-id="elapsed_time_server" value={{elapsed_time}}>
{{{ footer }}}

</body>
</html>