<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  {{{ styles }}}
  <title>About</title>

  {{{ shared_scripts }}}
</head>
<body>
{{{ header }}}

<main>
    {{{ heading }}}
  {{{ nav_panel }}}

  <section class="personal-info">
    <p class="personal-info-content">{{ description }}</p>
  </section>

  {{{ content }}}
</main>

{{{ direct }}}

{{{ footer }}}

</body>
</html>