<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  {{{ styles }}}
  <title>Contact</title>

  {{{ shared_scripts }}}
</head>
<body>

{{{ header }}}

<main>
  <h2 class="main-pagename">{{ heading }}</h2>
  {{{ nav_panel }}}
</main>


{{{ footer }}}

</body>
</html>