<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  {{{ styles }}}
  <link rel="stylesheet" href="../outlines.css">
  <link rel="stylesheet" href="../post.css">
  <title>Home</title>

  {{{ shared_scripts }}}
</head>
<body>
{{{ header }}}

<main>
  {{{ heading }}}
  {{{ nav_panel }}}

  {{{ content }}}
</main>

{{{ direct }}}

<input type="hidden" data-id="elapsed_time_server" value={{elapsed_time}}>
{{{ footer }}}

</body>
</html>